<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>First</display-name>
  <welcome-file-list>
    <welcome-file>project.SpacesList</welcome-file>
    <welcome-file>Checkin.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CheckInServlet</servlet-name>
    <servlet-class>project.CheckInServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SpacesList</servlet-name>
    <servlet-class>project.SpacesList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpacesList</servlet-name>
    <url-pattern>/SpacesList/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckInServlet</servlet-name>
    <url-pattern>/CheckInServlet/*</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CheckedOutFilter</filter-name>
    <filter-class>project.CheckedOutFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CheckedOutFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
</web-app>